/* You can add global styles to this file, and also import other style files */
.box {
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    background-color:lightblue;
  }
   
  .cdk-drop-dragging .cdk-drag {
    transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
  }
   
  .cdk-drag-animating {
    transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
  }
   
  .cdk-drag-placeholder {
    background-color: Highlight;
  }